$font-stack:    Helvetica, sans-serif;
$primary-color: #1376cc;
$secondary-color: white;
$plain-color: #333;
$lime-green: #4ebd0f;
$light-gray: #696969;
$table-border-color: #aaaaaa;
$table-fill-color: #f0f6fb;

